*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/vista-incrivel-de-uma-falesia-verde-perto-do-mar-no-arquipelago-dos-acores-portugal.jpg);
  background-size: cover;
  
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #FFFFFF;
}

.container{
  margin: auto;
  width: 95%;
  max-width: 400px;
  /* height: 300px; */
  padding: 20px;
  
  border-radius: 10px;
  /* background-color: #000000; */
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,70,121,0.6432948179271709) 35%, rgba(0,212,255,1) 100%);
  opacity: 0.8;
}

input{
  background-color: #7c7c7c2b;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  width: calc(100% - 50px);

  font-size: 18px;

}

input:focus{
  color: #FFFFFF;
}

button{
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 15px;
  float: right;
  cursor: pointer;
  background-color: #7c7c7c2b;
}

.name-city{
  font-size: 32px;
  margin-top: 15px;
  text-align: center;
}

.temp{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.clima{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  margin-top: 10px;
  /*   */
  /* background-color: red; */
}

.icon{
  width: 100px;
  margin-bottom: 10px;
}

.weather{
  text-transform: capitalize;
}

.details{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  /* background-color: red; */
}

.description-humidity{
  display: flex;
  flex-direction: column;
}

.umidifity{
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;

}

.humidity-icon{
  width: 50px;
  margin-left: 8px;
}

.text-final{
  margin-left: 8px;
  
}

.km-vento-icon{
  width: 40px;

}